<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$tikeco.tikeco_title}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{$tikeco.tikeco_content}">
    <meta name="keywords" content="{$tikeco.tikeco_keywords}">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/static/assets/css/styles.css">
</head>
<body>
    <!-- ******HEADER****** -->
    <header id="header" class="header">  
        <div class="container">       
            <h1 class="logo">
                <a class="scrollto" href="#hero" style="display: flex">
                    <span class="logo-icon-wrapper"><img class="logo-icon"
                                                         style="width:35px;height:35px;"
                                                         src="/static/assets/images/20190731170652.png"
                                                         alt="icon"></span>
                    <span class="text">
                          <div style="font-size: 18px" class="highlight">凯拓软件</div>
                          <div style="font-size: 14px">kaituocn.com</div>
                    </span>
                </a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-expand-md float-right navbar-inverse" role="navigation">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="active nav-link scrollto" href="#hero">首页</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#about">业务范围</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#testimonials">企业优势</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#features">案例介绍</a></li>
                        <li class="nav-item"><a class="nav-link scrollto" href="#team">团队介绍</a></li>
                        <!--<li class="nav-item"><a class="nav-link scrollto" href="#pricing">Pricing</a></li>-->
                        <li class="nav-item"><a class="nav-link scrollto" href="#contact">联系我们</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    <div id="hero" class="hero-section">
        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">
           
			<!-- Indicators -->
            <ol class="carousel-indicators">
                {foreach $introduction as $k=>$v}
                {if $k==0}
                <li class="active" data-slide-to="{$k}" data-target="#hero-carousel"></li>
                {else/}
                <li data-slide-to="{$k}" data-target="#hero-carousel"></li>
                {/if}
                {/foreach}
            </ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
                {foreach $introduction as $k=>$v}
                {if $k==0}
                <div class="carousel-item item-1 active" >
                    {else/}
                    <div class="carousel-item item-1"  style="position: relative">
                        {/if}
                        <img src="{$v.introduction_img}" style="width: 100%;position: absolute;z-index: -1">
                        <div class="item-content container">
                            <div class="item-content-inner">
                                <h2 class="heading">{$v.introduction_title}</h2>
                                <p class="intro">{$v.introduction_content}</p>
                            </div><!--//item-content-inner-->
                        </div><!--//item-content-->
                    </div><!--//item-->
                    {/foreach}
			</div><!--//carousel-inner-->
		</div><!--//carousel-->
    </div><!--//hero-->
        <div id="about" class="about-section">
            <div class="container text-center">
                <h2 class="section-title">{$ticos.About.tico_title}</h2>
                <p class="intro">{$ticos.About.tico_content}</p>
                <ul class="technologies list-inline">
                    <li class="list-inline-item"><img src="/static/assets/images/logo-html5.svg" alt="HTML5"></li>
                    <li class="list-inline-item"><img src="/static/assets/images/logo-css3.svg" alt="CSS3"></li>
                    <li class="list-inline-item"><img src="/static/assets/images/logo-bootstrap.svg" alt="Bootstrap"></li>
                    <li class="list-inline-item"><img src="/static/assets/images/logo-sass.svg" alt="Sass"></li>
                    <li class="list-inline-item"><img src="/static/assets/images/logo-jquery.svg" alt="jQuery"></li>
                </ul>
                <div class="items-wrapper row">
                    {foreach $about as $key=>$vo }
                    <div class="item col-md-4 col-12">
                        <div class="item-inner">
                            <div class="figure-holder">
                                <img class="figure-image" src="{$vo.about_pic}" alt="image">
                            </div><!--//figure-holder-->
                            <h3 class="item-title">{$vo.about_title}</h3>
                            <div class="item-desc">
                                {$vo.about_content}
                            </div><!--//item-desc-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    {/foreach}
                </div><!--//items-wrapper-->
            </div><!--//container-->
        </div><!--//about-section-->
        <div id="testimonials" class="testimonials-section">
            <div class="container">
                <h2 class="section-title text-center">{$ticos.Testimonials.tico_title}</h2>
                {foreach $testimonials as $k=>$v}
                <div class="item {$v.existence} mx-auto">
                    <div class="profile-holder">
                        <img class="profile-image" src="{$v.testimonials_img}" alt="profile">
                    </div>
                    <div class="quote-holder">
                        <blockquote class="quote">
                            <p>{$v.testimonials_comment}</p>
                            <div class="quote-source">
                                <span class="name">@{$v.testimonials_name},</span>
                                <span class="meta">{$v.testimonials_address}</span>
                            </div><!--//quote-source-->
                        </blockquote>
                    </div><!--//quote-holder-->
                </div><!--//item-->
                {/foreach}
            </div><!--//container-->
        </div><!--//testimonials-->
        <div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
        <div id="features" class="features-section">
            <div class="container text-center">
                <h2 class="section-title">{$ticos.Features.tico_title}</h2>
                <p class="intro">{$ticos.Features.tico_content}</p>
                <div class="tabbed-area row">
                    <!-- Nav tabs -->
                    <div class="feature-nav nav nav-pill flex-column col-lg-4 col-md-6 col-12 order-0 order-md-1" role="tablist" aria-orientation="vertical">
                        {foreach $features as $k=>$v}
                        {if $k==0}
                        <a class="nav-link active mb-lg-3" href="#feature-{$v.id}" aria-controls="feature-{$v.id}"
                           data-toggle="pill" role="tab" aria-selected="true"><i class="{$v.lcon_value}"></i>{$v.features_des}</a>
                        {else/}
                        <a class="nav-link mb-lg-3" href="#feature-{$v.id}" aria-controls="feature-{$v.id}" data-toggle="pill"
                           role="tab" aria-selected="false"><i class="{$v.lcon_value}"></i>{$v.features_des}</a>
                        {/if}
                        {/foreach}
                    </div>
                    <!-- Tab panes -->
                    <div class="feature-content tab-content col-lg-8 col-md-6 col-12 order-1 order-md-0">
                        {foreach $features as $k=>$v}
                        {eq name="$k" value="0"}
                        <div role="tabpanel" class="tab-pane fade show active" id="feature-{$v.id}">
                            <a href="#" target="_blank"><img class="img-fluid" src="{$v.features_img}" alt="screenshot" ></a>
                        </div>
                        {/eq}
                        {neq name="$k" value="0"}
                        <div role="tabpanel" class="tab-pane fade" id="feature-{$v.id}">
                            <a href="#" target="_blank"><img class="img-fluid" src="{$v.features_img}" alt="screenshot" ></a>
                        </div>
                        {/neq}
                        {/foreach}
                    </div><!--//feature-content-->
                </div><!--//tabbed-area-->
            </div><!--//container-->
        </div><!--//features-->
        <div class="team-section" id="team">
            <div class="container text-center">
                <h2 class="section-title">{$ticos.Team.tico_title}</h2>
                <div class="story">
                    <p>{$ticos.Team.tico_content}</p>
                </div>
                <div class="members-wrapper row">
                    {volist name="team" id="va"}
                    <div class="item col-md-6 col-12">
                        <div class="item-inner">
                            <div class="profile mb-2">
                                <img class="profile-image" src="{$va.team_user_img}" alt="Xiaoying Riley" />
                            </div>
                            <div class="member-content">
                                <h3 class="member-name">{$va.team_user_name}</h3>
                                <div class="member-title">{$va.team_user_postion}</div>
                                <ul class="social list-inline">
                                    {volist name="va['contacttool']" id="sub"}
                                    <li class="list-inline-item"><a class="{$sub['contact_tool_name']}" href="#" target="_blank"><i
                                            class="{$sub['contact_tool_value']}"></i></a></li>
                                    {/volist}
                                </ul>
                                <div class="member-desc">
                                    <p>{$va.team_user_des}</p>
                                </div><!--//member-desc-->
                            </div><!--//member-content-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    {/volist}
                </div><!--//members-wrapper-->
            </div>
        </div><!--//team-section-->
        <!--
        <div id="pricing" class="pricing-section">
            <div class="container text-center">
                <h2 class="section-title">{$ticos.Pricing.tico_title}</h2>
                <div class="intro">{$ticos.Pricing.tico_content}</div>
                <div class="pricing-wrapper row">
                    {foreach $pricing as $k=>$v}
                    <div class="item item-{$k+1} col-md-4 col-12">
                        <div class="item-inner">
                            <h3 class="item-heading">{$v['pricing_title']}<br><span class="item-heading-desc">({$v
                            ['pricing_licences_type']})</span></h3>
                            <div class="price-figure">
                                <span class="currency">$</span><span class="number">{$v['pricing_money']}</span>
                            </div>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><i class="fas {$v['pricing_single_Installation']}"></i> Single installation</li>
                                <li class="mb-2"><i class="fas {$v['pricing_multiple_installations']}"></i>Multiple installations</li>
                                <li class="mb-2"><i class="fas {$v['pricing_link']}"></i>Use without attribution link</li>
                            </ul>
                            <div class="mb-3"><a href="#" target="_blank">License Details</a></div>
                            <a class="btn btn-cta" href="#">Get it now</a>
                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
        -->

        <div id="contact" class="contact-section">
            <div class="container text-center">
                <h2 class="section-title">{$ticos.ContentUs.tico_title}</h2>
                <div class="contact-content">
                    <p>{$ticos.ContentUs.tico_content}</p>
                </div>
                <a class="btn btn-cta btn-primary" href="#">Get in Touch</a>
            </div><!--//container-->
        </div><!--//contact-section-->
        <footer class="footer text-center">
        <div class="container">
           <small class="copyright">Designed with <i class="fas fa-heart"></i> by 3rdwavemedia for developers / More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></small>
        </div><!--//container-->
    </footer>
    <!-- Javascript -->          
    <script type="text/javascript" src="/static/assets/plugins/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>     
    <script type="text/javascript" src="/static/assets/js/main.js"></script>
</body>
</html> 

